---
import BaseLayout from "../layouts/BaseLayout.astro";
import Mission from "../components/Mission.astro";
import Terms from "../components/Terms.astro";
import PreguntasFrecuentes from "../components/PreguntasFrecuentes.astro";
---

<BaseLayout>
  <div class="h-20"></div>
  <Mission />
  <Terms />
  <PreguntasFrecuentes />
</BaseLayout>
