<div
  id="toast-product"
  class="lg:w-72 hidden z-60 bg-white m-4 top-20 right-0 fixed p-4 border border-stone-500 shadow-sm shadow-stone-400 rounded-2xl w-[80dvw]"
>
  <div class="flex flex-col gap-4 mx-auto">
    <div class="flex justify-between">
      <p class="text-base">Agregaste al carrito</p>
      <button id="toast-product-close">X</button>
    </div>
    <div class="flex p-2 gap-4">
      <img id="toast-product-image" class="h-20 w-auto" src="" alt="" />
      <div class="flex flex-col justify-between">
        <p id="toast-product-name" class="text-xl lg:text-sm"></p>
        <p id="toast-product-price" class="text-xl text-primary"></p>
      </div>
    </div>
    <a
      href="/checkout"
      class="w-full rounded-sm p-2 bg-blue-800 text-xl text-center text-white"
      >Ir al carrito</a
    >
  </div>
</div>
