---
import { Image } from "astro:assets";

const { title, content, image } = Astro.props;
---

<article class="overflow-hidden rounded-xl">
  <div class="relative">
    <Image src={image} alt={title} class="h-[500px] w-full object-cover" />

    <!-- Overlay -->
    <div
      class="absolute inset-0 bg-linear-to-t from-black via-black/60 to-transparent"
    >
    </div>

    <!-- Texto -->
    <div class="absolute bottom-0 z-10 p-6 text-white">
      <h3 class="text-cyan-400 text-xl lg:text-2xl font-bold uppercase">
        {title}
      </h3>

      <p class="mt-4 text-sm lg:text-base leading-relaxed text-white/90">
        {content}
      </p>
    </div>
  </div>
</article>
