---
import { footerLinks } from "../assets/constants/index";
import { Image } from "astro:assets";
import logo from "../assets/images/logo.png";
import Icon from "../components/Icon.astro";
---

<section
  class="lg:h-64 mt-2 flex gap-6 p-4 flex-col h-96 bg-linear-to-t from-blue-950 to-blue-900 text-white w-dvw"
>
  <a href="/#home" class="w-44">
    <Image src={logo} alt="" class="h-10 w-auto mx-10" />
  </a>
  <div
    class="grid grid-cols-2 lg:grid-cols-4 w-100 h-100 mx-auto lg:mx-0 lg:w-full"
  >
    {
      footerLinks.map((footerLink) => (
        <div class="flex flex-col gap-2 ">
          <p class="font-semibold text-lg lg:text-base">{footerLink.title}</p>
          <div
            class={
              footerLink.links.some((link) => link.name)
                ? "flex gap-4"
                : "flex flex-col"
            }
          >
            {footerLink.links.map((link) => (
              <a href={link.url} class="text-sm">
                {link.name ? (
                  <Icon name={link.name} class="w-8 h-8" />
                ) : (
                  link.label
                )}
              </a>
            ))}
          </div>
        </div>
      ))
    }
  </div>
  <hr />
  <p class="text-sm text-center">
    LaMasDificil.com todos los derechos reservados © 2026
  </p>
</section>
