---
import { categories } from "../assets/constants/buscadas";
import ProductCard from "./ProductCard.astro";
import Title from "../components/Title.astro";
---

<section
  id="mas-buscadas"
  class="my-4 flex flex-col items-center h-min-dvh w-dvw"
>
  <Title title="Las más buscadas" />
  {
    categories.map((category, i) => (
      <section class="w-full">
        <h3 class="text-center py-2 text-white bg-linear-to-b from-blue-900 to-blue-800">
          {category.title}
        </h3>
        <div
          class={`swiper buscadas-swiper buscadas-swiper-${i} my-4`}
          style="height:400px; width:90%"
        >
          <div class="swiper-wrapper">
            {category.products.map((product) => (
              <div class="swiper-slide flex justify-center max-w-72">
                <ProductCard {...product} />
              </div>
            ))}
          </div>
          <div class={`swiper-button-next`} />
          <div class={`swiper-button-prev`} />
        </div>
      </section>
    ))
  }
</section>
<script>
  import Swiper from "swiper";
  import { Navigation } from "swiper/modules";

  document.querySelectorAll("[class*='buscadas-swiper-']").forEach((el) => {
    new Swiper(el as HTMLElement, {
      modules: [Navigation],
      slidesPerView: 1.5,
      spaceBetween: 16,
      centeredSlides: false,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        1024: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
      },
    });
  });
</script>
