---
import NavLinks from "./NavLinks.astro";
import Icon from "./Icon.astro";
import { Image } from "astro:assets";
import logo from "../assets/images/logo.png";
---

<nav id="navbar" class="fixed top-0 z-50 w-full h-20">
  <!-- Menú escritorio -->
  <div
    class="px-12 p-6 flex justify-between h-20 inset-0 bg-primary text-white lg:flex-row lg:items-center lg:justify-between"
  >
    <a href="#home">
      <Image src={logo} alt="" class="h-10 w-auto" />
    </a>
    <NavLinks className="hidden lg:gap-6 lg:flex" linkClass="" />
    <button id="cart-panel-open">
      <Icon name="shoppingCart" class="w-6 h-6" />
    </button>
    <Icon
      id="open-btn"
      name="hamburger"
      class="absolute w-6 h-6 right-0 mr-4 lg:hidden"
    />
    <Icon
      id="close-btn"
      name="close"
      class="opacity-0 pointer-events-none absolute w-6 h-6 right-0 mr-4"
    />
  </div>
  <!-- Menú móvil -->
  <div
    id="menu"
    class="-translate-x-full transition-transform duration-500 fixed top-20 left-0 bg-primary w-full z-50 h-full"
  >
    <NavLinks
      className="w-full h-full flex flex-col justify-between"
      linkClass="p-4 text-white"
    />
  </div>
</nav>

<script is:inline>
  const menu = document.getElementById("menu");
  const openBtn = document.getElementById("open-btn");
  const closeBtn = document.getElementById("close-btn");

  openBtn?.addEventListener("click", () => {
    menu?.classList.remove("pointer-events-none", "-translate-x-full");
    menu?.classList.add("translate-x-0");
    openBtn?.classList.add("opacity-0", "pointer-events-none");
    closeBtn?.classList.remove("opacity-0", "pointer-events-none");
  });

  closeBtn?.addEventListener("click", () => {
    menu?.classList.add("-translate-x-full");
    menu?.classList.remove("translate-x-0");
    openBtn?.classList.remove("opacity-0", "pointer-events-none");
    closeBtn?.classList.add("opacity-0", "pointer-events-none");
  });
</script>
