---
import { links } from "../assets/constants";
const { className = "", linkClass = "" } = Astro.props;
---

<ul class={className}>
  {
    links.map((link) => (
      <li>
        <a
          href={link.href}
          class:list={[
            "flex items-center gap-4 relative",
            "after:absolute after:left-0 after:-bottom-1",
            "after:h-0.5 after:w-0 after:bg-white",
            "after:transition-all after:duration-300",
            "hover:after:w-full",
            linkClass,
          ]}
        >
          {link.name}
        </a>
      </li>
    ))
  }
</ul>
