---
import { items } from "../assets/constants/items";
import ProductCard from "./ProductCard.astro";
import Title from "../components/Title.astro";
---

<section id="productos" class="my-4 flex flex-col items-center">
  <Title title="Otros productos" />
  <div class="swiper productos-swiper" style="height: 400px; width: 90%;">
    <div class="swiper-wrapper">
      {
        items.map((item) => (
          <div class="swiper-slide flex justify-center">
            <ProductCard {...item} />
          </div>
        ))
      }
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Navigation } from "swiper/modules";

  new Swiper(".productos-swiper", {
    modules: [Navigation],
    slidesPerView: 1.5,
    spaceBetween: 32,
    navigation: {
      nextEl: ".productos-swiper .swiper-button-next",
      prevEl: ".productos-swiper .swiper-button-prev",
    },
    breakpoints: {
      1024: {
        slidesPerView: 4,
        spaceBetween: 32,
      },
    },
  });
</script>
