---
import StepCard from "./StepCard.astro";
import { steps } from "../assets/constants/index";
---

<section class="h-[90dvh] bg-linear-to-b from-blue-950 to-blue-900 lg:h-56">
  <div
    class="lg:flex-row flex flex-col items-center gap-4 p-4 text-white lg:justify-between lg:px-20"
  >
    {steps.map((step) => <StepCard {...step} />)}
  </div>
</section>
