---
const { id, name, title, desc } = Astro.props;
import Icon from "../components/Icon.astro";
---

<div
  class="lg:h-40 h-60 w-[80%] flex flex-col gap-4 items-center justify-center lg:w-[20%]"
>
  <Icon name={name} class="text-white h-12 w-auto" />
  <p class="font-semibold text-lg lg:text-base">{title}</p>
  <p class="text-center text-base lg:text-sm">{desc}</p>
</div>
