<section class="timer h-60">
  <div
    class="bg-timer object-cover bg-no-repeat bg-position-[center_bottom_-100px] h-full w-full flex flex-col items-center gap-10 justify-center"
  >
    <h2
      class="bg-linear-to-r from-cyan-400 to-blue-700 bg-clip-text text-transparent text-3xl"
    >
      El torneo comienza dentro de
    </h2>
    <!-- Clock -->
    <div class="flex flex-row justify-center gap-8">
      <!-- Days -->
      <div
        class="bg-linear-to-r from-cyan-400 to-blue-700 bg-clip-text text-transparent flex flex-col items-center"
      >
        <p class="text-4xl" id="days">00</p>
        <p class="text-base">Días</p>
      </div>
      <!-- Hours -->
      <div
        class="bg-linear-to-r from-cyan-400 to-blue-700 bg-clip-text text-transparent flex flex-col items-center"
      >
        <p class="text-4xl" id="hours">00</p>
        <p class="text-base">Horas</p>
      </div>
      <!-- Minutes -->
      <div
        class="bg-linear-to-r from-cyan-400 to-blue-700 bg-clip-text text-transparent flex flex-col items-center"
      >
        <p class="text-4xl" id="minutes">00</p>
        <p class="text-base">Minutos</p>
      </div>
      <!-- Seconds -->
      <div
        class="bg-linear-to-r from-cyan-400 to-blue-700 bg-clip-text text-transparent flex flex-col items-center"
      >
        <p class="text-4xl" id="seconds">00</p>
        <p class="text-base">Segundos</p>
      </div>
    </div>
  </div>
</section>

<script>
  const targetDate = new Date("2026-06-11T16:00:00");

  const days = document.getElementById("days");
  const hours = document.getElementById("hours");
  const minutes = document.getElementById("minutes");
  const seconds = document.getElementById("seconds");

  const interval = setInterval(calculateTimer, 1000);

  function calculateTimer() {
    const difference = targetDate.getTime() - Date.now();
    const daysLeft = Math.floor(difference / 86400000);
    const hoursLeft = Math.floor((difference % 86400000) / 3600000);
    const minutesLeft = Math.floor((difference % 3600000) / 60000);
    const secondsLeft = Math.floor((difference % 60000) / 1000);

    if (days && hours && minutes && seconds) {
      days.textContent = String(daysLeft).padStart(2, "0");
      hours.textContent = String(hoursLeft).padStart(2, "0");
      minutes.textContent = String(minutesLeft).padStart(2, "0");
      seconds.textContent = String(secondsLeft).padStart(2, "0");
    }
  }
</script>
