---
interface Props {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props as Props;
---

<h2
  class:list={[
    "my-2 flex w-full h-20 items-center justify-center text-white bg-linear-to-b from-amber-950 to-amber-900 text-2xl lg:text-4xl",
    className,
  ]}
>
  {title}
</h2>
